@import 'common';

.container {
    margin-block-start: 1em;
    margin-block-end: 1em;

    .metadata {
        margin-bottom: 0.25em;
    }

    ruby {
        user-select: text;
        rt {
            user-select: none;
        }
    }
}

.active {
    color: $highlight-color;
}

.busy {
    opacity: 0.5;
}

.scrollButton {
    margin: auto;
}
