@import 'common';

.dialog-container {
    margin-block-start: 1em;
    margin-block-end: 1em;

    ruby {
        user-select: text;
        rt {
            user-select: none;
        }
    }

    .active {
        color: $highlight-color;
    }

    .known {
        opacity: 0.8;
    }

    .lines {
        margin-top: 0.25em;
    }
}

.dialog-scroll-button {
    margin: auto;

    .busy {
        opacity: 0.5;
    }
}

h3.dialog-episode-title {
    font-weight: inherit;
    text-align: center;
    margin-top: 0;
}
