@import 'common';

.dialog-container {
    margin-block-start: 1em;
    margin-block-end: 1em;

    .metadata {
        margin-bottom: 0.25em;
        white-space: nowrap;
        > span {
            vertical-align: middle;
            display: inline-block;

            &.content {
                white-space: normal;
            }
            &.icon {
                margin-right: 1vw;
            }
        }
    }

    ruby {
        user-select: text;
        rt {
            user-select: none;
        }
    }

    .active {
        color: $highlight-color;
    }

    .known {
        opacity: 0.8;
    }

    .lines {
        white-space: pre-line;
    }
}

.dialog-scroll-button {
    margin: auto;

    .busy {
        opacity: 0.5;
    }
}
