.ankiField {
    text-align: center;

    h3 {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    form {
        display: inline-grid;
        place-content: start;
        text-align: left;
        column-gap: 1vw;

        input {
            grid-column: 1;
        }
        label {
            grid-column: 2;
        }
        input + label {
            margin: unset;
        }
    }

    .separator {
        margin-top: 2vh;
    }
}

.ankiActionField {
    margin: 2vh 0;
}
