.ankiField {
    // .title {
    // }

    .definitionSelect {
        display: grid;
        place-content: start;

        label {
            grid-column-start: 2;
        }
        input + label {
            margin: unset;
        }
    }
}
