.layout {
    &.row {
        display: flex;
        align-items: center;

        > *:not(:first-child) {
            margin-left: 1ch;
        }
    }

    &.centerChildren {
        justify-content: space-evenly;
    }

    &.column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
