.layout {
    &.row {
        display: flex;
        align-items: center;

        > * {
            margin-left: 1vw;
        }
    }

    &.centerChildren {
        justify-content: space-evenly;
    }
}
