[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sudachipy = "*"
sudachidict-full = "*"
grpcio-tools = "*"
pysubs2 = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
generate = "python -m grpc_tools.protoc -I../../protos --python_out=. --grpc_python_out=. ../../protos/analyzer.proto ../../protos/parser.proto"
