.container {
    margin-top: 20vh;
    text-align: center;

    font-size: 1.5em;

    & + & {
        margin-top: 1em;
    }

    form {
        display: inline-block;
        text-align: left;
    }
}
