.container {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    width: 70%;
}

.item {
    padding: 1vmin;
    margin-top: 1vh;
    border-radius: 5px;
    border: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    :not(:first-child) {
        margin-left: 1vw;
    }

    h4 {
        margin: 0;
    }
}
