button.inline {
    background: none;
    border: none;
    padding: 0;

    &.complex {
        display: flex;
        align-items: center;
    }

    &.small {
        font-size: small;
    }

    &.large {
        font-size: large;

        &.standalone {
            svg {
                width: 32px;
                height: 32px;
            }
        }
    }

    font-size: inherit;

    &.action {
        display: inline-flex;
        align-items: center;

        svg {
            padding-right: 0.2em;
            width: 1.2em;
            height: 1.2em;
        }
    }
}

.contents {
    text-decoration: none;
}
