header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;
    width: 100%;

    background-color: black;
}

.animateSelfSpinFast {
    animation: Eb-Self-Spin infinite 1s linear;
}

@keyframes Eb-Self-Spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
