[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
ass = "*"
ass-tag-parser = "*"
plexapi = "*"
ffmpeg-python = "*"

[requires]
python_version = "3.8"
