@media (prefers-reduced-motion: no-preference) {
    .spinning {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
    height: 4em;
    pointer-events: none;
}

.inactive {
    filter: grayscale(100%);
}
